.logo {
    height: 35px;
    width: 35px;
}

h2 a {
    color: white;
}

h2 img {
    margin-left: 5px;
    margin-right: 5px;
}

.template_text {
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 0px;
}

#header_header {
    font-weight: bold;
    text-decoration: underline;
}

.feedback_paragraph {
    margin-top: 40px;
}
.hlabel {
    margin-bottom: 0px;
}
.hvalue {
    margin-top: 0px;
    font-weight: bold;
}

.fintern_label {
    font-weight: bold;
    margin: 0px;
}
.fintern_text {
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 0px;
}
.fintern_notes {
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

.ftext {
    font-weight: bold;
    text-decoration: underline;
    margin: 0px;
}

.fuser {
    font-weight: bold;
    margin: 0px;
}
.fnotes {
    margin: 0px;
    white-space: pre-wrap;
}

.fscore {
    font-weight: bold;
    margin-top: 0px;
}

.fteam {
    margin-top: 10px;
}

.fanything {
    margin-top: 10px;
}

.y-container .input {
    margin: 0 auto;
    padding: 40px 40px 5px 40px;
    width: 900px;
}

.y-container .feedback {
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: small;
}

.y-container .feedback div {
    margin: 0 auto;
}
