body {
    font-family: sans-serif;
    color: #565656;
}

table {
    border: none;
    margin-left: 20px; 
    border-collapse:separate;
    border-spacing: 0 2px;
}

h1 {
    padding-top: 10px;
}

td {
    padding-left: 10px;
}

tr.question {
    margin-top: 400px;    
}

p {
    margin: 0px;
    margin-top: 10px;
}

.feedback img {
    position: absolute;
    top: 0px;
    right: 0px;
}
