<!doctype html>
<html>
  <head>
    <title>
        
        {{ title }}
        
    </title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/catapult.css">
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/js/catapult.js"></script>
  </head>
  <body>

    <div class="main-header--flat main-header main-content-wrap js-main-header webview-hidden main-header--slim">
      <div class="content-container">
        <div class="arrange arrange--18 main-header_arrange arrange--middle u-dead-center">
          <div class="arrange_unit nowrap">
              <h2 class="main-header_title"><a href="/treb">Trebuchet</a><img class="logo" src="/img/catapult-actual.png" alt="hi"> <a href="/">Catapult</a></h2>
          </div>
        </div>
      </div>
    </div>

    <div class='content y-container y-container--full'>

      {% block content %}{% endblock %}

    </div>
  </body>
</html>
