{% extends 'base.html' %}

{% block content %}
<div class="input">
  <form method="POST" action="/fetch_feedback" class="yform">
    <div class="arrange arrange--12">
      <div class="arrange_unit arrange_unit--fill">
        <label class="pseudo-input">
          <span class="pseudo-input_text">Candidate ID</span>
          <span class="pseudo-input_field-holder">
            <input name="candidate_id" placeholder="cf777b82-7fae-47cd-81af-a1b0664514a4" value="" class="pseudo-input_field" type="text">
          </span>
        </label>
      </div>
      <div class="arrange_unit">
        <button type="submit" value="submit" class="ybtn ybtn--primary ybtn--small"><span>Catapult!</span></button>
      </div>
    </div>
  </form>
</div>

{% if candidate_id %}
<div class="feedback">
    <div id="blank_template">
        <p class="template_text">Notes on Candidate/Situation</p>
        <br>
        <p class="template_text">Current Compensation</p>
        <br>
        <p class="template_text">Existing Offers</p>
        <br>
        <p class="template_text">Suggested Offer</p>
        <br>
        <p class="template_text">Projected start date</p>
        <br>
        <p class="template_text">Team preference</p>
        <br>
    </div>
    <div id="headers">
        <p id="header_header">{{candidate.name}} received the following feedback</p>
        {% for header in headers %}
        <p class="hlabel">{{header.interview_type}}, {{header.interviewer}} - <span class="hvalue">{{header.score}}</span></p>

        {% endfor %}
        <p> Codetest - </p>
    </div>
    {% for feedback in feedbacks %}
    <div class="feedback_paragraph">
        <p class="ftext">{{feedback.text}}</p>
        <p class="fuser">{{feedback.username}}</p>
        <p class="fscore">{{feedback.score}}</p>
        <p class="fnotes">{{feedback.feedback_text}}</p>

        {% if feedback.team_feedback %}
        <p class="fteam">{{team_feedback_key}}: {{feedback.team_feedback}}</p>
        {% else %}
        <p class="fteam">Team Suggestion: {{feedback.team_suggestion}}</p>
        {% endif %}
    </div>
    {% endfor %}
    <div>
    <p class="template_text">References</p>
    </div>
</div>
{% endif %} 
{% if not feedbacks %}
<h2> Whoops, no feedback for this ID </h2>
{% endif %}
{% endblock %}
